@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  font-family: "Syne", sans-serif !important;
}
